.tmp
tmp
.DS_Store
.vscode
.rollup.cache
.secret-api-key.sh
nohup.out
node_modules
package-lock.json
*.log
dist/*
src/no-ex.less
src/no-ex.svelte
src/pluginConfig.ts     #comment out when pushing to gh
src/global.less         #comment out when pushing to gh
src/globalCss.less      #comment out when pushing to gh
