.onwindy-plugin-rings {
    #plugin-rhpane-top {
        .rhcircle__main-menu__animated-icon {
            span:nth-child(2) {
                transform: rotate(45deg);
                top      : 0.4em;
                left     : 0.7em;
                width    : 70%;
            }
            span:nth-child(3) {
                transform: rotate(-45deg);
                top      : 2.1em;
                left     : 0.7em;
                width    : 70%;
            }
        }
    }    
    
}