@import 'utils/infoWin_style_svelte.less';

@name: windy-plugin-rings;
//@width : 300px;
@bottom: 150px;

#@{name}-info {

    .flex-container {
        .plugin__title{
            margin-left: 0.25em;
        }
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .scrollable {
            flex: auto;
            box-sizing: border-box;
            position: relative;
            width: 100%;
            padding: 0px 10px;
            overflow-y: scroll;
            overflow-x: hidden;

            .add-scroll-bar();

            .ring-line {
                width: 100%; // inline block messes up vertical alignment

                .closing-x {
                    position: relative;
                    display: inline-block;
                    right: 0em;
                    left: 0em;
                    top: 0em;
                    font-size: inherit;
                    margin: 5px 10px;
                }
            }

            .button {
                background-color: var(--color-ui-secondary);
                border:1px solid var(--color-ui-secondary);
                &.add-ring {
                    position: absolute;
                    right: 10px;
                    top: 0px;
                }
                &.selected{
                    border:1px solid rgba(200,200,200);
                }
            }

            input[type='range'] {
                width: 94%;
            }
        }
    }
}

.embed-window {
    .checkbox::before {
        margin-right: 0px;
    }

    [data-ref='messageDiv'] {
        margin-top: 3px;
        font-size: 0.8em;
    }

    .hidden {
        display: none;
    }
}

:global(#device-mobile #plugin-@{name}),
#device-tablet #plugin-@{name} {
    pointer-events: initial;
}