@import 'utils/infoWin_style_svelte.less';

@name  : windy-plugin-rings;
//@width : 300px;
@bottom: 150px;


#@{name}-info {

    .scrollable {
        box-sizing: border-box;
        position  : relative;
        height    : 100%;
        width     : 100%;
        padding   : 10px;
        overflow-y: scroll;
        overflow-x: hidden;

        .add-scroll-bar();

        .ring-line {
            width: 100%; // inline block messes up vertical alignmentF

            .closing-x {
                position : relative;
                display  : inline-block;
                right    : 0em;
                left     : 0em;
                top      : 0em;
                font-size: inherit;
                margin   : 5px 10px;
            }
        }

        .button {
            background-color: var(--color-orange);
            position        : absolute;
            right           : 10px;
            top             : 60px;
        }

        input[type="range"] {
            width: 94%;
        }
    }
}

.embed-window {
    .checkbox::before {
        margin-right: 0px;
    }

    [data-ref="messageDiv"] {
        margin-top: 3px;
        font-size : 0.8em;
    }

    .hidden {
        display: none
    }
}